---
# tasks file for vector-role
- name: Get vector distrib
  ansible.builtin.get_url:
    url: https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm
    dest: ./vector-{{ vector_version }}-1.x86_64.rpm
- name: Install vector packages
  become: true
  ansible.builtin.yum:
    name: vector-{{ vector_version }}-1.x86_64.rpm
  notify: Start vector service
